section#pokemon-list {
  margin-top: 1em;
  @include searchBorder(2px, #093A3E);
  ul {
    // type, position, image
    list-style: none inside none;
    overflow-y: scroll;
    height: 500px;
    max-height: 100%;
    border: none;
    li {
      background-color: #FFFFFF;
      display: flex;
      font-size: $basic-font-size;
      padding: 0.5em;
      // @include searchBorder(2px, #093A3E);
      border-bottom: 2px solid #093A3E;
      figure {
        margin-left: auto;
        img {
          cursor: pointer;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }

  }
}
