section#intro-container {
  margin: 1em;
}
section#deck-container {
  display: flex;
  > section.column {
    background-color: rgba(255,255,255,0.8);
    padding: 1em;
    margin: 0 1em;
    @include searchBorder(3px, #093A3E);
    .column-title h1 {
      font-size: $h1-column-font-size;
    }
  }
  #deck-builder {
    flex: 1 1 auto;
  }
  #deck-view-container {
    flex: 1 1 50%;
    #deck-view {
      display: flex;
      flex-wrap: wrap;
      .deck-view-image {
        font-family: gillSans;
        padding: 0;
        margin: 0;
        position: relative;
        img {
          display: block;
          width: 100px;
          margin: 0.25em;
        }
        div.card-overlay {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          overflow-y: scroll;
          figure {
            margin-top: 1em;
            img {
              margin: 0 auto;
              width: 48px;
              cursor: pointer;
            }
            figcaption {
              text-align: center;
              font-size: $attack-name-size;
            }
          }
          p {
            // @include textBorder(#D3D3D3);
            font-size: $attack-name-size;
            text-align: center;
            width: 100%;
          }
        }
        &:hover .card-overlay {
          opacity: 1;
        }
      }

    }
  }
}


section.result-container {
  margin: 1em;
  padding: 1em;
  border: $basic-border;
  border-radius: 0.5em;
  display: flex;
  section.result-details {
    margin: 0 1em;
    flex: 0 1 auto;
  }
  figure.result-image {
    flex: 0 1 auto;
  }
}
