/**
 * To manually compile .sass files to .css files, run the following command:
 * sass sass/styles.sass css/styles.css
 * Use sass --watch sass/:css/ for convenience.
 */
// variables
$basic-border: 1px solid #000000;
$modal-border: 3px solid #ffffff;
$search-button-color: #093A3E;
$header-background-color: #b20000;
$basic-font-size: 18px;
$attack-name-size: 22px; // for attack or pokepower/pokebody titles
$attack-text-size: 14px; // for attack or pokepower/pokebody text
$card-title-size: 24px;
$h1-column-font-size: 28px;
@mixin searchBorder($thickness, $color: #007f7f) {
  border: $thickness solid $color;
}
@mixin textBorder($color) {
  text-shadow: -0.5px 0 $color, 0 0.5px $color, 0.5px 0 $color, 0.5px -1px $color;
}
@font-face {
  font-family: gillSans;
  src: url(../fonts/gillsans.otf);
}
@font-face {
  font-family: ptSans;
  src: url(../fonts/PTC55F.ttf);
}
@import "main";
@import "header";
@import "nav";
@import "section";
@import "form";
@import "list";
@import "modal";
@import "footer";
